!!!5
%html{class:"no-js", lang:"es"}
    %head
        %meta{charset:"utf-8"}
        %title La mejor comida esta en Restaurante Villarreal
        %meta{name:"description", content:"Come rico en el mejor restaurante de la ciudad de Quito"}
        %link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Dancing+Script"}
        %link{rel:"stylesheet", href:"css/normalize.css"}
        %link{rel:"stylesheet", href:"plugins/bootstrap/css/bootstrap.css"}
        %link{rel:"stylesheet", href:"css/flexboxgrid.min.css"}
        %link{rel:"stylesheet", href:"css/style.css"}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
        %script{src:"js/vendor/modernizr-2.8.3.min.js"}
    %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
        Estas usando un navegador
        %strong desactualizado
        Por favor
        %a{href:"http://browsehappy.com/"}
            actualiza tu navegador
        para una mejor experiencia
    ="<![endif]-->"
    .video-container
        %video{autoplay:true, loop:true, width:"1280", height:"720", poster:"videos/images/bbq.jpg"}
            %source{src:"videos/mp4/bbq.mp4", type:"video/mp4"}
            %source{src:"videos/webm/bbq.webm", type:"video/webm"}
    .row.full-height.middle-xs.center-xs.relative.up
        .col-xs-12
            .box.white-text
                %img{src:"imgs/logo.png", width:"200"}
                %h1.dancing-script.title.no-margin Restaurante Villarreal
                %p#is-open
                    %i.glyphicon.glyphicon-time
                    Abierto ahora
        %nav.fixed.top.right.white-text#navigation
            -menu = ["Inicio", "Menú", "Galería", "Contacto", "Como llegar"]
            %ul.list-inline
                -menu.each do |item|
                    %li
                        %a= item
        .absolute.medium.black.large-padding.bottom.white-text.full-width#description
            Atención de primera y comida preparada por chefs especializados

                




