!!!5
%html{class:"no-js", lang:"es"}
    %head
        %meta{charset:"utf-8"}
        %title La mejor comida esta en Restaurante Villarreal
        %link{rel:"stylesheet", href:"style.css"}
        %meta{name:"description", content:"Come rico en el mejor restaurante de la ciudad de Quito"}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %body
        %p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí está la información que necesitas para visitarnos.
        .container
            %h1 Restaurante Villarreal
            %p
                %strong Direccion
                Av Naciones Unidas, Centro Comercial Espiral, local 4.
            %p
                %strong Horario
                5pm - 11pm
            %p
                %strong Telefono
                0999978225
            %p
                %strong Descripcion
                Servimos comida echa por los mejores chefs de la ciudad, ven y prueba los mejores platillos al mejor precio del mercado.
            #map
                %img{src:"map.jpg"}
                %p Este mapa ofrece referencias de la ubicacion del restaurante.





